In [1]:
import pandas as pd 
from datetime import datetime, timedelta
from sqlalchemy import create_engine, text

In [2]:
# Create an engine that stores data in the local directory's
engine = create_engine('sqlite:///app.db', echo=True)

campaigns target 

campaigns shared_url 

campaigns_profile 

campaign code : code promo

In [13]:
create_campaigns_table = text('''CREATE TABLE IF NOT EXISTS campaigns (
    campaign_id INTEGER PRIMARY KEY AUTOINCREMENT,
    company_id INTEGER NOT NULL,                       
    title VARCHAR(255) NOT NULL,
    description TEXT,
    start_date DATE,
    end_date DATE,
    campaign_status VARCHAR(100),
    campaign_code VARCHAR(100),
    target_audience VARCHAR(255),
    budget DECIMAL(10, 2),
    actual_spending DECIMAL(10, 2),
    campaign_result TEXT,
    FOREIGN KEY (company_id) REFERENCES companies(company_id) ON DELETE CASCADE
);''')

In [18]:
# Assuming 'engine' is already defined and imported from SQLAlchemy setup
with engine.connect() as connection:
    connection.execute(create_campaigns_table)
    print("Campaigns table created successfully.")

2024-04-17 13:34:19,985 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-17 13:34:19,985 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS campaigns (
    campaign_id INTEGER PRIMARY KEY AUTOINCREMENT,
    company_id INTEGER NOT NULL,
    title VARCHAR(255) NOT NULL,
    description TEXT,
    start_date DATE,
    end_date DATE,
    campaign_status VARCHAR(100),
    campaign_code VARCHAR(100),
    target_audience VARCHAR(255),
    budget DECIMAL(10, 2),
    actual_spending DECIMAL(10, 2),
    campaign_result TEXT,
    FOREIGN KEY (company_id) REFERENCES companies(company_id) ON DELETE CASCADE
);
2024-04-17 13:34:19,986 INFO sqlalchemy.engine.Engine [cached since 106.3s ago] ()
Campaigns table created successfully.
2024-04-17 13:34:19,993 INFO sqlalchemy.engine.Engine ROLLBACK

In [15]:
# Assuming 'engine' is already defined and imported from SQLAlchemy setup
with engine.connect() as connection:
    connection.execute(text('''DROP TABLE IF EXISTS campaigns'''))

2024-04-17 13:34:08,321 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-17 13:34:08,321 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS campaigns
2024-04-17 13:34:08,322 INFO sqlalchemy.engine.Engine [cached since 6016s ago] ()
2024-04-17 13:34:08,329 INFO sqlalchemy.engine.Engine ROLLBACK

In [19]:
pd.read_sql('SELECT * FROM campaigns',engine)

2024-04-17 13:34:22,146 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-17 13:34:22,146 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM campaigns")
2024-04-17 13:34:22,147 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-17 13:34:22,147 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM campaigns")
2024-04-17 13:34:22,148 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-17 13:34:22,148 INFO sqlalchemy.engine.Engine SELECT * FROM campaigns
2024-04-17 13:34:22,149 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-17 13:34:22,151 INFO sqlalchemy.engine.Engine ROLLBACK

Empty DataFrame
Columns: [campaign_id, company_id, title, description, start_date, end_date, campaign_status, campaign_code, target_audience, budget, actual_spending, campaign_result]
Index: []